<div class="container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand mr-auto" routerlink="">Home</a>
    <app-search></app-search>
    <a *ngIf="!user"
    routerLink="signin"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a routerLink="/cart">
      <i class="fa fa-cart-arrow-down" aria-hidden="true">
        <span class="cart">{{ itemInCart }}</span></i>
    </a>
    <i class="fa fa-sign-out text-danger px-2" *ngIf="user" (click)="signOut()" aria-hidden="true"></i>
  </nav>

  <router-outlet></router-outlet>
</div>

<button (click)="getPosts()"></button>



