<div class="row">
  <div class="col-sm-12 col-md-2">
    <div class="images" *ngFor="let image of product.imgUrls; let i = index">
      <img [src]="image" alt="" (mouseenter)="displayedImg = i" width="100" height="100">
    </div>
  </div>

  <div class="col-sm-12 col-md-5">
    <img [src]="product.imgUrls[displayedImg]" alt="" height="300">
  </div>
  <div class="col-sm-12 col-md-5">
    <h3> {{ product.name }}</h3>
    <h5> {{ product.desc }}</h5>
    <h2> {{ product.price | currency }}</h2>

    <button class="btn btn-info" (click)="addToCart(product)">Add to Cart</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      Detailled Product Informations
    </div>
    <div class="col-sm-12 col-md-4">
      Get Feedback from Users
    </div>
  </div>
</div>
